* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(IMAGE/BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}


/* Main Container */
.container {
    max-height: 85vh;
    width: clamp(20rem, 15.882rem + 18.82vw, 30rem);
    border: 1.5px solid rgb(50, 145, 13);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(5px);
}


/* Main Heading */
h1 {
    font-size: clamp(1.5rem, 1.196rem + 1.39vw, 2.5rem);
    margin: 2rem 1rem;
    color: rgb(50, 145, 13);
    text-shadow: 1px 1px 3px orange, -1px -1px 1px orange;
    word-spacing: 2px;
    font-weight: bolder;
}


/* After heading element */
.form {
    width: 100%;
    text-align: center;
}


/* Amount section */
.amount {
    margin: 0rem 1rem;
    display: flex;
    align-items: center;
}


/* input bar of amount */
.form .amount input {
    width: 100%;
    border: none;
    background: transparent;
    height: 3rem;
    padding: 0rem 1rem;
    font-size: clamp(0.9rem, 0.778rem + 0.56vw, 1.3rem);
    border-radius: 0.5rem;
    border: 1px solid orange;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;

}


/* input placeholder */
.form .amount input::placeholder {
    color: white;
    font-weight: normal;
}


/* selection section */
.dropdown {
    width: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 1rem;
}


/* dropdown tittle  */
.dropdown p {
    font-size: 1.3rem;
    color: orange;
}


/* img of flags */
img {
    height: 3.5rem;
}


/* select section */

.select-container {
    display: flex;
}

select {
    border: none;
    background: transparent;
    color: goldenrod;
    font-weight: bolder;
}


/* swap horizontal svg */
.svg {
    height: 2rem;
}


/* Rate of exchange value */
.msg {
    width: 100;
    font-size: 1.6rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    color: wheat;
}


/* button container */
.exchange {
    margin: 3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Exchange button */
button {
    width: 99%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid orange;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    background: transparent;
    color: rgb(50, 145, 13);
}