* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: black;
    color: white;
}

.tittle {
    height: 5rem;
    width: 100%;
    background-color: tomato;
    font-size: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


 /* options container */
.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}


/* each options */
.choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease .5s;
}


/* options img */
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    mix-blend-mode: hard-light;
    overflow: hidden;
    transition: all ease 0.5s;
}

img:hover {
    opacity: 0.8;
    border: 3px solid whitesmoke;
    scale: 1.07;
}


/* score board */
.score-board {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 4rem;
    background: transparent;
    border: 1px solid white;
    padding: 1rem 7rem;
    border-radius: 5rem;
}

.score {
    font-size: 2rem;
    font-weight: bold;
}

#user-score,
#comp-score {
    font-weight: bolder;
    font-size: 3rem;
}


/* game msg  */
#msg{
    display: inline;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
}